[build]
  command = "cd client && yarn && yarn run build"  
  publish = "client/build"  
  base = "/"

[build.environment]
  NODE_ENV = "production"
  
[[redirects]]
  from = "/*"
  to = "/"
  status = 200